<div class="simulator-form">
  <%= semantic_form_for resource, url: quotes_path, html: { method: :post }  do |f| %>
      <div class="inputs-side">
        <div class="inputs-top">
          <div class="basic-fields fields-box">
            <%= f.inputs name: 'Dados Básicos' do %>
                <%= f.input :dist_center, member_label: :name_and_code, input_html: { class: 'base-field-input' } %>
                <%= f.input :customer_id, as: :search_select, url: customers_path, fields: [:display_name], display_name: :display_name, minimum_input_length: 2, class: 'base-field-input' %>
                <%= f.input :product, collection: Product.with_cost, member_label: :display_name, input_html: { class: 'base-field-input' } %>
            <% end %>
          </div>
          <div class="freight-conditions-fields fields-box">
            <%= f.inputs name: "Condiçao de Entrega" do %>
                <%= f.input :freight_condition, as: :radio  %>
                <%= f.input :city  %>
            <% end %>
          </div>
        </div>
        <div class="inputs-bottom">
          <div class="inputs-bottom-left">
            <div class="details-fields fields-box">
              <%= f.inputs name: 'Detalhes', class: 'inputs details-fieldset' do %>
                  <%= f.input :payment_term %>
                  <%= f.input :quantity %>
              <% end %>
            </div>
            <div class="taxes-fields fields-box">
              <%= f.inputs name: 'Impostos' do %>
                  <div class="icms-box tax-box">
                    <%= f.label 'ICMS' %>
                    <%= f.input :icms_padrao, label: "Padrao?" %>
                    <%= f.input :icms, label: false %>
                  </div>
                  <div class="pis-confins-box tax-box">
                    <%= f.label 'Pis/Confins' %>
                    <%= f.input :pis_confins_padrao, label: "Padrao?" %>
                    <%= f.input :pis_confins, label: false %>
                  </div>
              <% end %>
            </div>
            <div class="exchange-rate-fields fields-box">
              <%= f.inputs name: 'Taxas de Câmbio', class: 'inputs details-fieldset' do %>
                  <%= f.input :brl_usd %>
                  <%= f.input :brl_eur %>
              <% end %>
            </div>
             <div class="Info">
              <%= f.inputs name: '(*) Campo Obrigatorio', class: 'data details-fieldset' do %>
              <% end %>
            </div>
          </div>
          <div class="inputs-bottom-right">
            <%= f.inputs name: 'Frete', class: 'inputs freight-fieldset' do %>
                <%= f.input :freight_base_type, as: :radio %>
                <%= f.input :freight_subtype, as: :select, collection: Quote.freight_subtype_options(:bulk), input_html: { class: 'bulk-subtype-input' } %>
                <%= f.input :freight_subtype, as: :select, collection: Quote.freight_subtype_options(:packed), input_html: { class: 'packed-subtype-input' } %>
                <%= f.input :vehicle %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="outputs-side">
        <div class="price-markup-fields fields-box">
          <%= f.inputs name: 'Fixar Preço/Markup', class: 'inputs price-markup-fieldset' do %>
              <%= f.input :fixed_price, as: :radio, collection: { "Preço Unitario ($/un)" => true, "Mark-up (%)" => false }, label:false %>
              <%= f.input :unit_price, label: false %>
              <%= f.input :mark_up_porcentage, label: false %>
              <%= f.action :submit, button_html: { value: 'Cotar!', class: "make-quote-button", 'data-disable-with': '....'}%>
              <span style="display:block; height: 80px;width: 100px"></span>
                <%= f.label '-----(*)Default é Mark-up Tabela-----' %>
        <% end %>
        </div>
        <div class="results-section inputs">
          <%= render partial: 'results', locals: { quote: resource }%>
        </div>
      </div>
  <% end %>
</div>