<div class="simulator-form">
  <%= semantic_form_for resource, url: (resource.watched_current? ? quote_path(resource) : quotes_path), html: { method: resource.watched_current? ? :patch : :post }  do |f| %>
      <div class="inputs-side">
        <div class="inputs-top">
          <div class="basic-fields fields-box">
            <%= f.inputs name: 'Dados Básicos' do %>
                <%= f.input :dist_center, member_label: :name_and_code, input_html: { class: 'base-field-input' } %>
                <%= f.input :customer_id, as: :search_select, url: customers_path, fields: [:display_name], display_name: :display_name, minimum_input_length: 2, class: 'base-field-input' %>
                <%= f.input :product, collection: Product.with_cost, member_label: :display_name, input_html: { class: 'base-field-input' } %>
            <% end %>
          </div>
          <div class="freight-conditions-fields fields-box">
            <%= f.inputs name: "Condiçao de Entrega" do %>
                <%= f.input :freight_condition, as: :radio  %>
                <%= f.input :city  %>
            <% end %>
          </div>
        </div>
        <div class="inputs-bottom">
          <div class="inputs-bottom-left">
            <div class="currency-and-unit-inputs">
              <div class="currency-field fields-box">
                <%= f.inputs name: 'Moeda' do %>
                    <%= f.input :currency, as: :radio, label: false %>
                <% end %>
              </div>
              <div class="unit-field fields-box">
                <%= f.inputs name: 'Unidade' do %>
                    <%= f.input :unit, as: :radio, label: false %>
                <% end %>
              </div>
            </div>
            <div class="details-and-exchange-rates-inputs">
              <div class="details-fields fields-box">
                <%= f.inputs name: 'Detalhes', class: 'inputs details-fieldset' do %>
                    <%= f.input :quantity %>
                    <%= f.input :payment_term, as: :string %>
                    <%= text_field_tag 'financial-cost-percentage', number_to_percentage(100 * resource.financial_cost), disabled: 1 %>
                    <%= f.input :payment_term_description %>
                <% end %>
              </div>
              <div class="exchange-rate-fields fields-box">
                <%= f.inputs name: 'Taxas de Câmbio', class: 'inputs details-fieldset' do %>
                    <%= f.input :brl_usd %>
                    <%= f.input :brl_eur %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="inputs-bottom-right">
            <div class="taxes-fields fields-box">
              <%= f.inputs name: 'Impostos' do %>
                  <div class="icms-box tax-box">
                    <%= f.label 'ICMS' %>
                    <%= f.input :icms_padrao, label: "Padrao?" %>
                    <%= f.input :icms, label: false %>
                  </div>
                  <div class="pis-confins-box tax-box">
                    <%= f.label 'Pis/Confins' %>
                    <%= f.input :pis_confins_padrao, label: "Padrao?" %>
                    <%= f.input :pis_confins, label: false %>
                  </div>
              <% end %>
            </div>
            <%= f.inputs name: 'Frete', class: 'inputs freight-fieldset' do %>
                <%= f.input :freight_padrao, label: 'Padrao?' %>
                <%= f.input :unit_freight %>
                <%= f.input :freight_base_type, as: :radio, input_html: { class: 'freight-show-if-padrao' } %>
                <%= f.input :freight_subtype, as: :select, collection: Quote.freight_subtype_options(:bulk).invert, input_html: { class: 'bulk-subtype-input freight-show-if-padrao' } %>
                <%= f.input :freight_subtype, as: :select, collection: Quote.freight_subtype_options(:packed).invert, input_html: { class: 'packed-subtype-input freight-show-if-padrao' } %>
                <%= f.input :vehicle, collection: Vehicle.active, input_html: { class: 'freight-show-if-padrao' } %>
            <% end %>
          </div>
        </div>
        <div class="product-info-section">
          <%= render(partial: 'product_info') if resource.product %>
        </div>
      </div>
      <div class="outputs-side">
        <div class="price-markup-fields fields-box">
          <%= f.inputs name: 'Fixar Preço/Markup', class: 'inputs price-markup-fieldset' do %>
              <%= f.input :fixed_price, as: :radio, collection: { "Preço Unitario ($/un)" => true, "Mark-up (%)" => false }, label:false %>
              <%= f.input :unit_price, label: false %>
              <%= f.input :markup, label: false %>
              <%= f.input :watched, label: 'Monitorar' %>
              <%= f.action :submit, button_html: { value: (resource.watched_current? ? 'Atualizar' : 'Cotar!'), class: "make-quote-button", 'data-disable-with': '....'}%>
              <span class="markup-default-msg">* Default é Mark-up Tabela</span>
        <% end %>
        </div>
        <div class="results-section inputs">
          <%= render partial: 'results', locals: { quote: resource }%>
        </div>
      </div>
  <% end %>
</div>