<table class="index_table icms-matrix">
  <tr>
    <th class="col">
      ORIG/DEST
    </th>
    <% @destinations.each do |dest| %>
      <th class="col">
        <%= dest %>
      </th>
    <% end %>
  </tr>
  <% @origins.each do |orig| %>
    <tr>
      <th class="col">
        <%= orig %>
      </th>
      <% @destinations.each do |dest| %>
        <td class="<%= 'diagonal-icms-cell' if orig == dest%>">
          <% if(icms_tax = @icms[orig][dest]) %>
            <%= link_to edit_icms_tax_path(icms_tax) do %>
              <%= icms_tax.value.try(:round, 3) %>
            <% end %>
          <% else %>
                'N/A'
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>